// ----------
//Fonts
// ----------



// ----------
//Colors
// ----------
$black: #141414;
$balticSea: #222828;
$lemon: #9EF500;
$celery: #CFFF8C;
$starDust: #9F9F9E;
$geyser: #DBE2E3;
$white: #FFFFFF;